body {
	font-family: serif;
	background-color: #EDF2FF;
}

div {
	padding-left: 25px;
}

p {
	padding-left: 25px;
}

h3 {
	padding-left: 25px;
	margin-bottom: 1px;
}

a {
	color: #9EB8FF
}

h1 {
	margin: 0;
	font-family: Helvetica;
	font-size: 250%;
	font-weight: normal;
	padding-top: 88px;
}

.header {
	background-color: black;
	color: white;
	border: 100px;
}

div.header {
		font-size: 110%;
		font-family: Helvetica;
}

img {
	max-height: 250px;
	float: left;
	margin: 0px 25px 0 0;

     }

.address1 {
	display: inline-block;
	margin-top: 25px;
	padding-left: 25px;
	margin-right: -15px;
}

.address2 {
	display: inline-block;
	margin-top: 10px;
	padding-left: 35px;
	margin-right: -25px;
}

div.place {
	font-weight: bold;
	margin-top: 20px;
}

div.header {
	padding-bottom: 97px
}

h2 {
	font-variant: small-caps;
	padding-left: 25px;
	color: #5D5D5D;
}

h3.address1 {
	color: #5D5D5D;
}

h3.address2 {
	color: #5D5D5D;
}
.FL {
	display: inline;
	padding-left: 0;
	font-style: italic;
}

.place {
	border-top: 10px;

}

.title {
	font-style: italic;
	font-size: 105%;
	margin-bottom: 2px;
}


a.twitter-share-button,
a.twitter-mention-button,
a.twitter-hashtag-button {
  display: inline-block;
  padding: 1px 3px 0 19px;
  border: #ccc solid 1px;
  border-radius: 3px;
  background: #f8f8f8 url(//platform.twitter.com/images/bird.png) 2px 3px no-repeat;
  background: url(//platform.twitter.com/images/bird.png) 2px 3px no-repeat,
              -webkit-linear-gradient(#fff, #dedede);
  background: url(//platform.twitter.com/images/bird.png) 2px 3px no-repeat,
              linear-gradient(#fff, #dedede);
  background-size: 16px 13px, auto auto;
 
  /* Text */
    font: bold 11px/17px Helvetica, Arial, sans-serif;
  text-decoration: none;
  color: #333;
  text-shadow: 0 1px 0 rgba(255, 255, 255, .5);
  white-space: nowrap;
}
 
/* Color Highlight for keyboard navigation */
a.twitter-share-button:focus,
a.twitter-mention-button:focus,
a.twitter-hashtag-button:focus {
  outline: none;
  border-color: #0089cb;
}


